@import "./Odinson-224w.ttf";
@font-face {
  font-family: Odinson;
  src: url(./Odinson-224w.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 40vw 1fr;
}

.image {
  background: url("./leaves.jpg") no-repeat;
  background-size: auto 200%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-align: center;

  color: #fff;
}

.logo {
  margin-top: 25vh;
  padding: 16px 0;
  font-size: 3rem;
  font-family: Odinson;
  font-weight: normal;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo img {
  height: 6rem;
}

.accredidation {
  padding: 16px 0;
  font-size: 0.75rem;
}

.accredidation a {
  color: inherit;
}

.main {
  background-color: #f1f3f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 36px;
}

.main > p {
  font-weight: bold;
  margin-left: 36px;
  margin-right: 100px;
}

fieldset {
  display: grid;
  grid-template-columns: repeat(2, 33.3%);
  column-gap: 80px;
  row-gap: 24px;

  padding: 16px;
  border: none;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
}

input {
  padding: 8px 12px;
  width: 240px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

input:focus {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

input:invalid:not(:placeholder-shown) {
  border-color: #e03131;
}

button {
  border: none;
  border-radius: 8px;
  padding: 16px 32px;
  background-color: #099268;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 36px;
  margin-bottom: 0;
  cursor: pointer;

  transition: transform 0.1s;
}

button:hover {
  opacity: 0.9;
}

button:active {
  transform: scale(0.95);
}

.main a {
  text-decoration: none;
  color: #099268;
}

.main a:hover {
  text-decoration: underline;
}
